<launch>
    <include file="$(find rs_robot_sensors)/launch/rs_d435_t265.launch"/>

    <node pkg="rs_robot_sensors" type="t265_ground_offset_publisher.py" name="odom_to_t265_offset">
        <param name="child_frame" value="t265_ground_offset"/>
        <param name="default_offset" value="0.12"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="ground_offset_to_t265_odom" args="0.15 0 0 0 0 0 t265_ground_offset t265_odom_frame"/>
    <!--
    <node pkg="tf2_ros" type="static_transform_publisher" name="t265_link_to_roomba" args="-0.15 0 -0.12 0 0 0 /t265_pose_frame /base_footprint"/>
    -->
    <node pkg="rs_robot_sensors" type="robot_root_transform_publisher.py" name="t265_pose_to_base_footprint">
        <param name="parent_frame" value="t265_pose_frame"/>
        <param name="child_frame" value="base_footprint"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="t265_to_d435" args="-0.03 0 0.03 0 0 0 t265_pose_frame d435_link"/>


<!--
    <node pkg="tf" type="static_transform_publisher" name="odom_to_t265_odom" args="0 0 0 0 0 0 /odom /t265_odom_frame 100"/>
    <node pkg="tf" type="static_transform_publisher" name="t265_link_to_roomba" args="-0.15 0 -0.12 0 0 0 /t265_pose_frame /base_footprint 100"/>
    <node pkg="tf" type="static_transform_publisher" name="t265_to_d435" args="-0.03 0 0.03 0 0 0 /t265_pose_frame /d435_link 100"/>
-->

</launch>