<launch>
    <group ns="teleop">
        <remap from="cmd_vel" to="/yocs_cmd_vel_mux/input/teleop"/>
        <include file="$(find rs_robot)/launch/teleop_joy.launch">
            <arg name="enable_button" value="1"/>
            <arg name="enable_turbo_button" value="3"/>
            <arg name="scale_linear" value="0.1"/>
            <arg name="scale_linear_turbo" value="0.3"/>
            <arg name="scale_angular" value="0.5"/>
        </include>
    </group>

    <include file="$(find rs_robot)/launch/cmd_vel_mux.launch"/>

    <include file="$(find ros_whill)/launch/modelc.launch"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="whill_left_wheel" args="0.0 -0.25 0 0 0 1.57 base_link left_wheel_link"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="whill_right_wheel" args="0.0 0.25 0 0 0 1.57 base_link right_wheel_link"/>

</launch>
