<launch>
<!--
    <arg name="cmd_vel_mux_nodelet_manager_name"  default="cmd_vel_mux_nodelet_manager"/>
    <arg name="cmd_vel_mux_config_file" default="$(find rs_robot)/config/cmd_vel_mux.yaml"/>
  -->
    <group ns="teleop">
        <remap from="cmd_vel" to="/yocs_cmd_vel_mux/input/teleop"/>
        <include file="$(find rs_robot)/launch/teleop_joy.launch">
            <arg name="enable_button" value="1"/>
            <arg name="enable_turbo_button" value="3"/>
            <arg name="scale_linear" value="0.1"/>
            <arg name="scale_linear_turbo" value="0.3"/>
            <arg name="scale_angular" value="0.5"/>
    <!-->
        <arg name="teleop_config" value="$(find rs_robot)/config/joy_teleop_roomba.yaml" />
        -->
        </include>
    </group>

    <include file="$(find rs_robot)/launch/cmd_vel_mux.launch"/>
<!--
-->
        <!--
    <include file="$(find yocs_cmd_vel_mux)/launch/standalone.launch">
        <arg name="nodelet_manager_name" value="cmd_vel_max_manager"/>
        <arg name="config_file" value="$(find rs_robot)/config/cmd_vel_mux.yaml"/>
    </include>
    -->
   

    <include file="$(find ca_driver)/launch/create_2.launch"/>
</launch>
