<launch>
    <group ns="teleop">
        <remap from="cmd_vel" to="/yocs_cmd_vel_mux/input/teleop"/>
        <include file="$(find rs_robot)/launch/teleop_joy.launch">
            <arg name="enable_button" value="1"/>
            <arg name="enable_turbo_button" value="3"/>
            <arg name="scale_linear" value="0.1"/>
            <arg name="scale_linear_turbo" value="0.3"/>
            <arg name="scale_angular" value="0.5"/>
        </include>
    </group>

    <include file="$(find rs_robot)/launch/cmd_vel_mux.launch"/>

    <include file="$(find ros_whill)/launch/modelc.launch"/>
</launch>
