<launch>
  <arg name="teleop_config" default="$(find rs_robot)/config/joy_teleop.yaml" />

  <rosparam file="$(arg teleop_config)" command="load" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop"/>
  <node pkg="joy" type="joy_node" name="joystick">
    <param name="autorepeat_rate" value="10"/>
  </node>
</launch>
